<
style> /*
  miAbmPHP
  author: Andres Carizza www.andrescarizza.com.ar
  css version: 2.5
*/ .mabm {
	
}

/* estilo de los listados */
.mabm .mlistado {
	/*border:1px #E5E5E5 solid; mgallardo 30062017*/
	border-collapse: collapse;
	width: 100%;
	/*font-family: tahoma, arial, sans-seriff; mgallardo 28062017*/
}

.mabm .mtitulo {
	float: left;
	color: #6A6A6A;
}

.mabm .mbotonera {
	float: right;
	margin-left: 30px;
}

.mabm .mlistado .btnAgregar {
	border: 1px solid #14B614;
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 18px 5px 18px;
	height: 25px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#15C115),
		to(#109110));
	background: -moz-linear-gradient(top, #15C115 0%, #109110);
}

.mabm .mlistado .btnAgregar:hover {
	border-color: #006300;
	cursor: pointer;
}

.mabm .mtituloColEditar {
	text-align: center !important;
	width: 16px;
	color: #333 !important;
}

.mabm .mtituloColBorrar {
	text-align: center !important;
	width: 16px;
	color: #333 !important;
}

.mabm .celdaEditar {
	text-align: center;
}

.mabm .celdaBorrar {
	text-align: center;
}

.mabm .mlistado th {
	font-weight: normal;
	text-align: left;
	padding: 5px;
	/*border:1px solid #E5E5E5;*/
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 1%, #d8d8d8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4),
		color-stop(100%, #d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 1%, #d8d8d8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 1%, #d8d8d8 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 1%, #d8d8d8 100%);
	/* IE10+ */
	background: linear-gradient(top, #f4f4f4 1%, #d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4',
		endColorstr='#d8d8d8', GradientType=0); /* IE6-8 */
}

.mabm .mlistado th a {
	color: #333 !important;
	text-decoration: none !important;
}

.mabm .mlistado th a:hover {
	/* text-decoration:underline !important; mgallardo 29062017*/
	
}

.mabm .mlistado td {
	padding: 8px;

	/*
   * mgallardo 28062017
   * border-left:1px solid #a3a3a3;
   * border-right:1px solid #a3a3a3;
   */
}

.mabm .mlistado tr.rallado1 {
	/* filas impares */ //
	background-color: #c9e0cf; //
	border: 1px solid #a3a3a3;
}

.mabm .mlistado tr.rallado {
	/* 
 * filas pares
 * le aclare un poco mas el fondo para que se separe mas mgallardo:270617; 
 */
	background-color: #F0F9F2;
	border: 1px solid #a3a3a3;
}

.mabm .mlistado td .label {
	display: inline;
	padding: .2em .5em .3em;
	font-size: 85%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.mabm .mlistado thead th {
	line-height: 14px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	color: #000;
	padding: 12px 10px;
	border: none;
	border-bottom: 0;
	background: url(/images/degrade_gris_vert.jpg) repeat;
}

.mabm .mlistado THEAD TH DIV {
	font-size: 15px !important;
}

.mabm .mlistado TFOOT TH {
	font-weight: normal;
	text-align: left;
	background-color: #EFEFEF;
	color: black;
	padding: 9px;
	border: 1px solid #a3a3a3;
}

.mabm .mlistado TFOOT TH A {
	
}

.mabm .mlistado TFOOT TH A {
	text-decoration: none !important;
}

.mabm .mlistado .noHayRegistros {
	text-align: center;
	line-height: 30px;
	color: gray;
}

.mabm .mbuscar {
	background: none;
}

.mabm .mbuscar fieldset {
	/* 
   * mgallardo lo saque a pedido de cuniglio 28062017
   * border:1px solid #D7D7D7;
   * margin-bottom:5px;
   * border-radius:5px;
   * -webkit-border-radius:5px;
   * -moz-border-radius:5px;
  */
	background: transparent;
	border: none;
	margin: 0;
	padding: 10px 0 !important;
}

.mabm .mbuscar fieldset legend {
	/* 
   * mgallardo lo saque a pedido de cuniglio 28062017
   * color:#8C8C8C;
   * font-size:12px;
   */
	display: none;
}

.mabm .mbuscar th {
	background: #F9F9F9 !important;
	font-weight: normal !important;
	filter: none !important;
}

.mabm .mbuscar th form {
	/* mgallardo 28062017*/
	float: left;
}

.mabm .mbuscar th form label {
	width: 80px;
	display: inline-block;
	text-align: right !important;
	letter-spacing: 0 !important;
	line-height: 20px !important;
	margin-right: 4px;
	font-size: 12px;
}

.mabm .mbuscar th form div {
	display: inline;
	margin: 3px;
	line-height: 20px;
	font-size: 12px;
	color: #8C8C8C;
}

.mabm .mbuscar th form .mNuevaLinea {
	clear: both;
	display: block;
	height: 0;
}

.mabm .mbuscar th form .mBotonesB {
	float: right;
}

.mabm .mbuscar th form .mBotonLimpiar, .mabm .mbuscar th form .mBotonBuscar
	{
	/*background:url('../img/buscar.png') no-repeat scroll 6px 4px #CCCCCC;
  border:1px solid #959595;
  color:#333333;
  font-family:Tahoma;
  font-size:11px;
  font-weight:normal;
  padding:5px 8px 5px 28px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;*/
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(219, 219, 219, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1)), color-stop(100%, rgba(219, 219, 219, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(219, 219, 219, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(219, 219, 219, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(219, 219, 219, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(219, 219, 219, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#dbdbdb', GradientType=0); /* IE6-9 */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #777777;
	font-family: arial;
	font-size: 12px;
	padding: 3px 10px;
	text-decoration: none;
	margin: 0px 5px;
	width: 100px;
	text-align: center;
	white-space: normal;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
}

.mabm .mbuscar th form .mBotonLimpiar:hover, .mabm .mbuscar th form .mBotonBuscar:hover
	{
	/*cursor:pointer;
  background-color:#ddd;*/
	color: #001550 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: -webkit-linear-gradient(top, #f5fcff, #d5eefb);
	background: -o-linear-gradient(top, #f5fcff, #d5eefb);
	background: -moz-linear-gradient(top, #f5fcff, #d5eefb);
	background: linear-gradient(top, #f5fcff, #d5eefb);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(143, 185, 208, 1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(143, 185, 208, 1);
	box-shadow: 0px 0px 0px 1px rgba(143, 185, 208, 1);
	text-decoration: none !important;
}

.mabm .mbuscar th form .mBotonLimpiar {
	/*background:#EAEAEA;
  border:1px solid #CCCCCC;
  color:#333333;
  font-family:Tahoma;
  font-size:11px;
  font-weight:normal;
  padding:5px 8px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;*/
	
}

.mabm .mbuscar th form .mBotonLimpiar:hover {
	/*cursor:pointer;
  background-color:#ddd;*/
	
}

.mabm .mbuscar th form .input-text {
	width: 140px;
	background: #ffffff;
	border: 1px solid #a3a3a3; /* mgallardo 28062017 */
	padding: 4px;
	letter-spacing: 0 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: auto !important;
}

.mabm .mbuscar th form .input-fecha {
	width: 140px;
	background: #ffffff;
	border: 1px solid #E0E0E0;
	padding: 4px;
	letter-spacing: 0 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.mabm .mbuscar th form .input-select {
	background: #ffffff;
	border: 1px solid #E0E0E0;
	padding: 4px;
	width: 150px;
	letter-spacing: 0 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* para los formularios de ingreso de datos */
.mabm .mformulario {
	border: 1px solid #E5E5E5;
	background-color: #FCFCFC;
	border-collapse: collapse;
	width: 100%;
}

.mabm .mformulario THEAD TH {
	font-weight: bold;
	font-size: 17px;
	text-align: left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	letter-spacing: 1px;
	border: 1px solid #D7D7D7;
	padding: 3px;
	padding-left: 15px;
	line-height: 35px;
	color: #6A6A6A;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f9f9 1%, #d3d3d3 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f9f9f9),
		color-stop(100%, #d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f9f9 1%, #d3d3d3 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f9f9 1%, #d3d3d3 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f9f9 1%, #d3d3d3 100%);
	/* IE10+ */
	background: linear-gradient(top, #f9f9f9 1%, #d3d3d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9',
		endColorstr='#d3d3d3', GradientType=0); /* IE6-8 */
}

.mabm .mformulario TFOOT TH {
	font-weight: bold;
	text-align: center;
	background-color: #EFEFEF;
	border: 1px solid #D7D7D7;
	padding: 7px 3px;
}

.mabm .mformulario TH {
	font-weight: bold;
	text-align: right;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	padding-right: 15px;
	padding-left: 0px;
	background-color: #F7F7F7;
	border-bottom: 1px dashed #EDEDED;
	color: #666;
	width: 25%;
}

.mabm .mformulario TH .indRequerido {
	background: orange;
	width: 2px;
	height: 8px;
	display: inline-block;
}

.mabm .mformulario TD {
	padding: 10px 15px;
	border-bottom: 1px dashed #F3F3F3;
	position: relative !important;
}

.mabm .mformulario .separador {
	background-color: #F7F7F7;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	color: #848484;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.mabm .mformulario .input-text {
	width: 98%;
	background: #ffffff;
	border: 1px solid #E0E0E0;
	padding: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/*jam*/
tr {
	font-size: 12px;
}

.mabm .mlistado TD {
	padding: 5px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}

.mabm .mlistado td {
	border: none !important;
}
</
style
>